body{
    margin: 0;
    font-family: sans-serif;
    background: white;
    
}
h3{
    text-align: center;
    font-size: 30px;
    margin: 0px;
    padding-top: 10px;
}
a{
    text-decoration: none;

}
#gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
align-items: center;
    margin: 50px 0 ;
}
#content{
    width: 30%;
    text-align: center;
    border-radius: 20px;
    float: left;
    margin: 15px;
cursor: pointer;
padding-top: 10px;
box-shadow: 0 14px 28px black, 0 10px 10px black;
transition: .4s;
background: white;
box-sizing:border-box;
}
#content:hover{
    box-shadow: 0 3px 6px black , 0 3px 6px black;
transform: translate(0px,-10px);
}
#img{
    width: 1000px;
    height: 50px;
    text-align: center;
    margin: 50px auto;
    display:block;
}
p{
    text-align: center;
    color:rgb(223, 58, 113);
    padding-top:0 8px;
}
h6{font-size:  25px; 
    text-align: center;
    color: black;
    margin: 0;
}
ul{
list-style: none;
display: flex;
justify-content: center;
align-items: center;
padding-top: 100px;
}
li{padding-top:5px;
}
#fa{
    font-size: 26px;
    transition: .4s;
    margin: 3px;
}
#checked{
    color:#ff9f43;
}
.fa:hover{
    transform: scale(1.3);
    transition: .6s;
}
button{
    text-align:center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding:15px ;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.buy-1{
   background: #2183a2;
}
.buy-2{
    background: #3b3e6e;
}
.buy-3{
    background: #0b0b0b;
}
.buy-4{
    background: #ff9f43;
}
@media(max-width:750px){
    .content{
        width: 100%;  
    }
}